.App {
  text-align: center;
  color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  display: flex;
  justify-content: space-between;

  margin: 0 0 36px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.emoji {
  width: 10%;
}

li {
  list-style: none;
  margin-right: 6px;
}

a {
  text-decoration: none;
  padding: 6px;
  color: green;
  font-family: "Permanent Marker", cursive;
}
h2 {
  font-family: "Permanent Marker", cursive;
}
.wrap-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker";
}

/* .btn {
  font-family: "Permanent Marker";
} */

.friends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.addForm {
  display: flex;
  flex-direction: column;
  font-family: "Permanent Marker";
  width: 20%;
  height: 15vh;
}

.add-btn {
  background-color: green;
  color: white;
  border: 1px solid black;
}
.wrap-upform {
  display: flex;

  justify-content: center;
}

.updateForm {
  display: flex;
  flex-direction: column;
  font-family: "Permanent Marker";
  width: 30%;
}
